/data/*
!data/ja/
/data/ja/*
!data/ja/chat/
/data/ja/chat/*
!data/ja/chat/magicdata_toy/
!data/ja/chat/magicdata_toy/**
!data/ja/task/
/data/ja/task/*
!data/ja/task/topiocqa_ja_toy/
!data/ja/task/topiocqa_ja_toy/**

outputs/*

*_local/

__pycache__/

models/*

tmp/

analysis/
slurm-log/
